* {
    font-family: "Comic Sans MS";
    text-align: center;
}
.rainbow {

   animation: rainbow 3s infinite; 
 }
 
 h1 span{
     font-size:2em;
     background:white;
 }
 
 body {
     background-image: url("../images/background.png");
     width:100%;
     height: auto;
 }
 @keyframes rainbow{
     20%{color: red;}
     40%{color: yellow;}
     60%{color: green;}
     80%{color: blue;}
     100%{color: orange;}	
 }
#Pink {
    color:hotpink;
}
#Red {
    color:red;
}
#Blue {
    color:blue;
}
#Green{
    color:green;
}
#Yellow {
    color:yellow;
}
#Orange {
    color:orange;
}
#Purple{
    color:purple;
}
#Gray{
    color:gray;
}
#Brown{
    color:brown;
}
button {
    background-color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
}